@import "flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
.same-width-button {
    width: 150px; /* Adjust the width to your preference */
}
